#overlay {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 28px;
    color: #0798A8;
    text-align: center;
}

.protein, .patties, .cooked, .toppings, .cheesy, .bun-type, .sauce-selection, .extra-info, .submission {
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
    text-align: center;

}

input, select, textarea, .submission{ 
    padding: 12px; 
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
} 
